
<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">© 2020 | All Rights Reserved |  Developed with
        <svg class="footer__icon">
            <use href="./img/sprite.svg#groupIcon"></use>
        </svg>
        by <a class="footer__link" href="#photos">GoIT Students</a> </p>
    </div>
</footer>



<div class="footer-modal__content-hidden">

    <div id="photos" class="footer-modal__content">

        <h1 class="footer__modal-title">Mission Possible</h1>

            <ul class="team__list list">
                <li class="team__item">
                    <div class="person">
                        
                        <img class="person__photo photo" src="./../src/img/team/Aleksei.jpeg" alt="Алексей" width="120" height="150"/>
                        
                        <p class="person__name">
                            Agent Nr. 1 <br> God Of JS <br> (Aleksei - TL)</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        
                        <img class="person__photo photo" src="./../src/img/team/Katerina2.jpg" alt="Катерина" width="120" height="150"/>
                       
                        <p class="person__name">
                            Agent Nr. 2 <br> Header girl<br>(Кate - SM)</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        <img class="person__photo photo" src="./../src/img/team/Valeriia.jpeg" alt="Елена" width="120" height="150" />
                        <p class="person__name">
                            Agent Nr. 3 <br> MasterOfSearch<br> (Elena) </p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        <img class="person__photo photo" src="./../src/img/team/Tatiana.jpeg" alt="Татьяна" width="120" height="150"/>
                        <p class="person__name">
                            Agent Nr. 4 <br> Librarian<br> (Tatiana)</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        <img class="person__photo photo" src="./../src/img/team/Maksim.jpeg" alt="Максим" width="120" height="150"/>
                        <p class="person__name">
                            Agent Nr. 5 <br> Modal Guru <br> (Maksim)</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        <img class="person__photo photo" src="./../src/img/team/Valeriia.jpeg" alt="Валерия" width="120" height="150"/>
                        <p class="person__name">
                            Agent Nr. 6 <br> Movie render <br>(Valeriia)</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        <img class="person__photo photo" src="./../src/img/team/Viacheslav.jpeg" alt="Вячеслав" width="120" height="150"/>
                        <p class="person__name">
                            Agent Nr. 7 <br> Modal Guru<br>(Viacheslav)</p>
                    </div>
                </li>
                <li class="team__item">
                    <div class="person">
                        <img class="person__photo photo" src="./../src/img/team/Kate.jpg" alt="Катя" width="120" height="150"/>
                        <p class="person__name">
                            Agent Nr. 8 <br> Footer girl<br>(Kate)</p>
                    </div>
                </li>
            </ul>


            <div class="button__styles">
                <button class="footer__btn --modal__close">Mission complited</button>
            </div>

            <button
            type="button"
            class="button__styles--close"
            data-action="close-lightbox">

              <!-- кнопка модального кона Kate SEA -->
            <svg class="modal__icon">
                <use href="./img/sprite.svg#close-btn"></use>
            </svg>
            
          </button>
    </div>
</div>

<!-- "Шаблон" модалки -->
<div id="modal" class="footer-modal__overlay">
    <div class="footer-modal__wrap">
        <div class="footer-modal__block">

            <div class="modal__btn-close --modal__close"></div>
        </div>
    </div>
    
</div>


<!-- <script src="./../src/code.js/footer.js"></script> -->