    <div class="backdrop">
        <div class="modal">
            <button class="modal__close">
                <svg class="modal__icon">
                    <use href="./img/sprite.svg#close-btn"></use>
                </svg>
            </button>
            <ul class="modal__btn-list">
                <li class="btn-list__item"><button class="btn__watched">add to Watched</button></li>
                <li class="btn-list__item"><button class="btn__watched btn__queue">add to queue</button></li>
            </ul>
        </div>
    </div>