@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("..//fonts/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

.film__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.button-list__pgn,
.button-list__page {
  border-color: transparent;
  border-radius: 5px;
}

.button-list__pgn {
  height: 40px;
}

.button-list__page {
  padding: 0;
  background-color: transparent;
}

.button-list__page--current {
  color: #ffffff;
}

li.button-list__item {
  margin: 8px;
}

@media screen and (max-width: 767px) {
  li.button-list__item {
    margin: 4px;
  }
}

.button-list__item:last-child {
  margin-right: 8px;
}

.button-list__item--curretn {
  height: 40px;
  width: 40px;
  background: #ff6b08;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
}

.main__button-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 374px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .main__button-list {
    width: 280px;
  }
}

.film__list__item {
  max-width: 100%;
  margin: 20px;
}

.film__poster {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 280px;
}

.film__card__info {
  font-weight: 500;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.film__title {
  margin: 0;
  text-transform: uppercase;
  line-height: 16px;
  color: #000000;
}

.film__card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 14px;
}

.film__details {
  margin: 0;
  color: orange;
}

.film__details-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: orange;
}

.js-btn__first,
.js-btn__last {
  border-color: transparent;
}

.main__container {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 320px) {
  .main__container {
    max-width: 280px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main__container {
    max-width: 648px;
  }
}

@media screen and (min-width: 1024px) {
  .main__container {
    max-width: 882px;
  }
}

.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #f0ebeb;
  cursor: pointer;
  border-radius: 50px;
  display: none;
}

@media screen and (max-width: 767px) {
  .back_to_top {
    bottom: 20px;
    right: 10px;
  }
}

.back_to_top:hover {
  background: #f7d997;
}

.back_to_top-show {
  display: block;
}

.main__film-list {
  margin: -20px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .main__film-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.film__list__item {
  padding-bottom: 5px;
  max-width: 100%;
  margin: 20px;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .film__list__item {
    width: calc((100% - 4 * 20px) / 2);
    max-width: 293px;
    margin: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .film__list__item {
    width: calc((100% - 6 * 20px) / 3);
    max-width: 274px;
    margin: 20px;
  }
}

.film__list__item:hover, .film__list__item:focus {
  border-radius: 5px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.film__poster {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.film__poster:hover, .film__poster:focus {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.film__poster img {
  display: block;
  max-width: 100%;
  height: auto;
}

.film__card__info {
  font-weight: 500;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.film__title {
  margin: 0;
  text-transform: uppercase;
  line-height: 16px;
  color: #000000;
}

.film__card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 14px;
}

.film__details {
  margin: 0;
  color: #ff6b08;
}

.film__details-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b08;
}

.genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  color: #ff6b08;
  overflow: hidden;
}

.genres li:not(:last-child):after {
  content: ',';
  margin-right: 10px;
}

.genres li:nth-child(3n):after {
  content: '...';
  margin-right: 10px;
  overflow: hidden;
}

.footer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #f7f7f7;
}

.footer__container {
  padding: 29px 0 29px 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .footer__container {
    width: 250px;
  }
}

.footer__text {
  display: inline;
  color: #545454;
  font-size: 14px;
  line-height: 1.17em;
  margin-bottom: 10px;
  text-align: center;
}

.footer__text--secondary {
  margin: 0%;
}

.footer__icon {
  position: relative;
  bottom: -2px;
  width: 14px;
  height: 13px;
}

.footer__link {
  color: #545454;
  font-size: 14px;
  line-height: 1.17em;
  border-bottom: solid 1px #545454;
}

.footer__link {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(#ff6b08), to(#ff6b08));
  background-image: linear-gradient(transparent, transparent), linear-gradient(#ff6b08, #ff6b08);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 2s linear;
  transition: background-size 2s linear;
}

.footer__link:hover {
  background-size: 0 2px, 100% 2px;
  cursor: pointer;
}

.footer-modal__content-hidden {
  display: none;
}

.footer-modal__overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden auto;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.footer-modal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 700px;
  min-height: 100%;
  margin: 0 auto;
}

.footer-modal__block {
  display: block;
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: relative;
  background-color: white;
}

.button__styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__styles--close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 23px;
  height: 23px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__styles--close:hover, .button__styles--close:focus {
  background: #ff6b01;
}

@media screen and (min-width: 768px), (min-width: 1024px) {
  .button__styles--close {
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

.button__styles--close:hover,
.button__styles--close:focus {
  background-color: #ff6b08;
}

.person__photo {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*.modal__btn-close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__btn-close::before,
.modal__btn-close::after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
}

.modal__btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__btn-close:hover::before,
.modal__btn-close:hover::after {
  background: #ff6b01;
}*/
.footer__btn {
  display: inline-block;
  height: 44px;
  width: 112px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.33;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__btn:hover, .footer__btn:focus {
  border: none;
  color: #ffffff;
  background-color: #ff6b01;
  -webkit-box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__modal-title {
  color: #ff6b01;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.team__list {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 321px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.person {
  width: 100%;
  padding: 5px;
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person__name {
  margin-top: 0;
  color: black;
  padding-top: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .person__name {
    width: 100%;
    display: block;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .person__name {
    width: 100%;
    display: block;
    font-size: 14px;
  }
}

.header__container {
  width: 100%;
  height: 230px;
  margin: 0 auto;
  padding: 30px 10px 0 10px;
}

@media screen and (min-width: 320px) {
  .header__container {
    width: 280px;
    margin: 0 auto;
    padding-top: 46px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 648px;
    margin: 0 auto;
    padding: 46px 15px 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    width: 882px;
    margin: 0 auto;
    padding: 41px 15px 0 15px;
  }
}

/*home__theme */
.header {
  width: 100%;
  height: 230px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__home__theme {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/mobile/mobile@1x.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/mobile/mobile@1x.jpg);
}

@media screen and (min-width: 768px) {
  .header__home__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/tablet/tablet@1x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/tablet/tablet@1x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .header__home__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/desctop/desctop@1x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/desctop/desctop@1x.jpg);
  }
}

.header__ml__theme {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/mobile/mobile_ml@1x.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/mobile/mobile_ml@1x.jpg);
}

@media screen and (min-width: 768px) {
  .header__ml__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/tablet/tablet_ml@1x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/tablet/tablet_ml@1x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .header__ml__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/desctop/desctop_ml@1x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/desctop/desctop_ml@1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 320px) {
  .header__home__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/mobile/mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/mobile/mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 768px) {
  .header .home__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/tablet/tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/tablet/tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 1024px) {
  .header .home__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/desctop/desctop@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/desctop/desctop@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 320px) {
  .header .ml__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/mobile/mobile_ml@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/mobile/mobile_ml@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 768px) {
  .header .ml__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/tablet/tablet_ml@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/tablet/tablet_ml@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-width: 1024px) {
  .header .ml__theme {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../img/header/desctop/desctop_ml@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/header/desctop/desctop_ml@2x.jpg);
  }
}

.header__icon {
  width: 24px;
  height: 24px;
  stroke: #818181;
  fill: #818181;
}

.header__logo {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    display: none;
  }
}

/*стили для формы Kate SEA */
.header__search__form {
  position: relative;
  width: 280px;
  margin-top: 43px;
}

.header__input {
  position: relative;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  width: 100%;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: #ffffff;
  outline: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__input:focus {
  border-bottom: 0.5px solid #ff6b08;
}

.header__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header__input:focus:-ms-input-placeholder {
  color: transparent;
}

.header__input:focus::-ms-input-placeholder {
  color: transparent;
}

.header__input:focus::placeholder {
  color: transparent;
}

.header__input::-webkit-input-placeholder {
  color: #ffffff;
}

.header__input:-ms-input-placeholder {
  color: #ffffff;
}

.header__input::-ms-input-placeholder {
  color: #ffffff;
}

.header__input::placeholder {
  color: #ffffff;
}

.header__input::-webkit-input-placeholder:hover, .header__input::-webkit-input-placeholder:focus {
  color: #ff6b08;
}

.header__input:-ms-input-placeholder:hover, .header__input:-ms-input-placeholder:focus {
  color: #ff6b08;
}

.header__input::-ms-input-placeholder:hover, .header__input::-ms-input-placeholder:focus {
  color: #ff6b08;
}

.header__input::placeholder:hover, .header__input::placeholder:focus {
  color: #ff6b08;
}

.search-btn {
  width: 12px;
  height: 12px;
  color: #ffffff;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: -2px;
  right: 4px;
  cursor: pointer;
}

.search-btn:hover, .search-btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.input__icon__svg {
  stroke: #ffffff;
}

.input__icon__svg {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  top: 2px;
  stroke: #ffffff;
}

.header__input:focus ~ .input__icon__svg {
  stroke: #ff6b08;
}

/*от Лены*/
.header__input-label {
  display: none;
  position: absolute;
  bottom: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.header__input:focus ~ .header__input-label {
  position: absolute;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 14px;
  color: #ff6b08;
  font-weight: 500;
}

.header__input:required, .header__input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.notification {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  opacity: 0;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  text-align: left;
  color: #ff001b;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.notification.active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .notification {
    text-align: center;
  }
}

@media screen and (min-width: 320px) {
  .header__search__form {
    position: relative;
    width: 280px;
    margin: 43px auto 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .header__search__form {
    position: relative;
    width: 336px;
    margin: 37px auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .header__search__form {
    position: relative;
    width: 336px;
    margin: 37px auto 0 auto;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 17em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.nav__item--current::after {
  margin-bottom: -5px;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  border: none;
  border-radius: 1px;
  opacity: 1;
  background-color: #ff6b08;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

/* Стили для кнопок Header MyLibrary*/
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px auto 0 auto;
}

.header__button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header__button__list__item__title {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.56);
  width: 129.53px;
  height: 44px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.333;
  color: #FFFFFF;
}

.header__button__list__item__title:hover, .header__button__list__item__title:focus {
  background-color: #ff6b08;
}

@media screen and (min-width: 768px) {
  .header__button__list__item {
    width: 129.53px;
    height: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .header__button__list__item {
    width: 129.53px;
    height: 44px;
  }
}

.header__button__list__item:not(:last-child) {
  margin-right: 20px;
}

.none {
  display: none;
}

.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  pointer-events: initial;
}

.backdrop-scroll {
  overflow: hidden;
}

.modal {
  position: relative;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 48px 20px 40px 20px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 30px 40px 30px;
    width: 618px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
    height: auto;
    padding-top: 50px;
  }
}

.modal__img {
  width: 240px;
  height: auto;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .modal__img {
    width: 264px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .modal__img {
    width: 396px;
    height: auto;
  }
}

.modal__description {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .modal__description {
    margin-top: 0;
    margin-left: 30px;
  }
}

.modal__title {
  margin: 0;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .modal__title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal__info-list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
}

.info-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.info-list__title {
  margin: 0%;
  color: #8c8c8c;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-right: 30px;
  width: 69px;
}

.info-list__rating {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 4px;
  text-align: center;
  text-transform: uppercase;
  background: #ff6b01;
  border-radius: 5px;
  min-width: 36px;
  height: 16px;
  color: #ffffff;
}

.info-list__rating--slash {
  color: #8c8c8c;
  margin-right: 3px;
}

.info-list__rating--white {
  background: #f7f7f7;
  color: #000000;
  margin: 0%;
}

.info-list__description {
  margin: 0%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #000000;
  width: 132px;
}

@media screen and (min-width: 768px) {
  .info-list__description {
    max-width: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .info-list__description {
    max-width: 350px;
  }
}

.info-list__description--title {
  margin: 0;
  max-width: 132px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .info-list__description--title {
    max-width: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .info-list__description--title {
    max-width: 290px;
  }
}

.modal__about {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33em;
  color: #000000;
  margin-top: 0%;
  margin-top: 20px;
  text-transform: uppercase;
}

.about__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66em;
  color: #000000;
  margin: 0%;
  margin-top: 10px;
  max-width: 240px;
  height: auto;
  margin-top: 10px;
  max-width: 280px;
  height: auto;
  line-height: 1.66;
}

@media screen and (min-width: 768px) {
  .about__text {
    max-width: 264px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .about__text {
    max-width: 396px;
    height: auto;
  }
}

.modal__btn-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
}

.btn-list__item {
  display: inline-block;
  margin-right: 15px;
}

.btn-list__item:last-child {
  margin: 0%;
}

.button-is__active {
  display: inline-block;
  padding: 10px 13px;
  height: 44px;
  width: 136px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #ff6b01;
  -webkit-box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-list__item.button-is__active {
  background-color: #ff6b08;
  color: #ffffff;
}

.btn__watched {
  display: inline-block;
  height: 44px;
  width: 112px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.33;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__watched:hover, .btn__watched:focus {
  border: none;
  color: #ffffff;
  background-color: #ff6b01;
  -webkit-box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn__watched {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .btn__watched {
    width: 136px;
  }
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close:hover, .modal__close:focus {
  background: #ff6b01;
}

.modal__icon {
  width: 30px;
  height: 30px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  color: #ffa200;
  font-size: 10px;
  margin: 80px auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

.loader.loader_is-hidden {
  display: none;
}

.bg__empty__collection {
  display: block;
  text-align: center;
  font-size: 36px;
  padding-top: 300px;
  padding-bottom: 0px;
}

.bg__empty__collection.bg__icon {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 270px;
}
/*# sourceMappingURL=main.css.map */