.bg__empty__collection {
  display: block;
  text-align: center;
  font-size: 36px;
  padding-top: 300px;
  padding-bottom: 0px;
}

.bg__empty__collection.bg__icon {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 270px;
}
