.header__icon{
    width: 24px;
    height: 24px;
    stroke: #818181;
    fill: #818181;
}

.header__logo{
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-left: 10px;
   
}

@media screen and (max-width: 767px) {
    .header__logo {
    display: none;
   }
}

// @media screen and (min-width: 768px) {
//     .header__logo{
//     display: inline;
//     }
// }

// @media screen and (min-width: 1024px) {
//     .header__logo{
//     display: inline;
//     }
// }